<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <h2>Welcome!!!</h2>
    <h2>This Is a Weather Api Web</h2>
    <br />
    <br />
    <form action="/response" ,method="GET">
      <label for="city">請輸入要查詢的城市(英文):</label>
      <input type="text" name="city" id="city" required="required" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
